@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@200;300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');

@layer utilities {
    .dev8 {
      @apply border border-dashed border-red-300;
    }
    .button {
      @apply py-2 px-3 rounded-sm text-[#222226] text-xs;
    }
    .button-dark {
      @apply py-2 px-3 rounded-sm text-white text-xs;
    }
    .button-active{
      @apply py-2 px-3 bg-[#2187E5]  text-xs border-[1px] border-solid text-white rounded-md;
    }
    .button-active-dark{
      @apply py-2 px-3 bg-[#2187E5]  text-xs border-[1px] border-solid text-white rounded-md;
    }
    .button-active-border{
      @apply py-2 px-3  border border-solid border-[#2187E5]  text-xs  text-black rounded-md bg-gray-200;
    }
    .containerPage {
      @apply max-w-[1440px] mx-auto;
    }
}