@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "UniscoreSans";
  src: url("../public/fonts/UniscoreSans-Regular.woff2") format("opentype")
}

@layer utilities {
    .dev8 {
      @apply border border-dashed border-red-300;
    }
    .button {
      @apply py-2 px-3 rounded-sm text-[#222226] text-xs;
    }
    .button-dark {
      @apply py-2 px-3 rounded-sm text-[#aaa] text-xs;
    }
    .button-active{
      @apply py-2 px-3 bg-[#2187E5]  text-xs border-[1px] border-solid text-white rounded-md;
    }
    .button-active-dark{
      @apply py-2 px-3 bg-[#2187E5]  text-xs  text-white rounded-md;
    }
    .button-active-border{
      @apply py-2 px-3  border border-solid border-[#2187E5]  text-xs  text-black rounded-md bg-gray-200;
    }
    .containerPage {
      @apply max-w-[1440px] mx-auto;
    }
}